
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Tenerife bookings</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">Data</a>
      </li><li class="nav-item">
        <a class="nav-link" routerLink="overview">Overview</a>
      </li>
    </ul>

  </div>
</nav>
