
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Tenerife bookings</a>
  <div class="navbar-collapse" >
    <ul id="navbarToggleExternalContent" class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">Data</a>
      </li><li class="nav-item">
        <a class="nav-link" routerLink="overview">Overview</a>
      </li>
    </ul>

  </div>
</nav>
