.selected{

  transition-duration:1s;
  background-color: lightblue;
  color: white;

}
.step {
  border-radius: 50px;
  font-size: 20px;
  padding-top: 8px;
  width: 50px;
  height: 50px;
  text-align: center;

  transition-duration:1s;
}
.step-1{
  transition-duration:1s;
}
.nameT {
  padding-top: 15px;
  height: 50px;
  border-right: 1px black solid;
  text-align: center;
  vertical-align:middle;
}
